<div class="row">
  <div class="col-md-6">
    <%= form_for(@test) do |f| %>
      <% if @test.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@test.errors.count, "error") %> prohibited this test from being saved:</h2>

          <ul>
          <% @test.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :name %> (To identify your data once uploaded)<br>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :sheltered %> (Comma separated; e.g., 2, 5, 3, 6)<br>
        <%= f.text_area :sheltered, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :exposed %> (Comma separated; e.g., 2, 5, 3, 6)<br>
        <%= f.text_area :exposed, class: "form-control" %>
      </div>
      
      <p>*Note that nothing between two commas will be treated as a zero</p>

      <%= f.submit "Submit", class: "btn btn-default" %>

    <% end %>
</div>
</div>