<h1>Monte Carlo randomisation test for comparing two samples</h1>

<p>Upload your data using the link below.</p>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Sample 1</th>
    <th>Sample 2</th>
    <th></th>
  </tr>


<% @tests.each do |test| %>
  <tr>
    <td><%= test.name %></td>
    <td><%= test.sheltered %></td>
    <td><%= test.exposed %></td>
    <td>
      <div class="btn-group">
        <%= link_to 'Run test', test, class: "btn btn-default", data: { no_turbolink: true } %>
        <%= link_to 'Edit data', edit_test_path(test), class: "btn btn-default" %>
        <%= link_to 'Delete data', test, :method => :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      </div>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Upload your data', new_test_path, class: "btn btn-default" %>
