<h2>Randomisation test for <%= @test.name %>'s data</h2>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<p id="notice"><%= notice %></p>
<div class="btn-group">
  <%= link_to 'Edit data', edit_test_path(@test), class: "btn btn-default" %>
  <%= link_to 'Home', tests_path, class: "btn btn-default" %>
</div>

<p>
  <%= form_tag test_path(@test), :method => 'get' do %>
    To re-run the randomisation, just reload your web browser or select test:<%= select_tag :tail, options_for_select(['1-tailed', '2-tailed'], params[:tail]), { onchange: "$(this).parent('form').submit();" } %>
    <%= submit_tag "Reload", class: "btn btn-default" %>
  <% end %>
</p>

<p><strong>2-tailed:</strong> Are the sample means different?</p>
<p><strong>1-tailed:</strong> Is Sample 2 mean greater than Sample 1 mean?</p>

<h3>Original data</h3>

<table>
<% if params[:tail] == "1-tailed" %>
  <tr><th>Sample 1</th><th>Mean 1</th><th>Sample 2</th><th>Mean 2</th><th>(Mean 2 - Mean 1)</th></tr>
<% else %>
  <tr><th>Sample 1</th><th>Mean 1</th><th>Sample 2</th><th>Mean 2</th><th>Absolute (Mean 2 - Mean 1)</th></tr>
<% end %>

<% shelt = @test.sheltered.split( /, */ ).map { |s| s.to_f } %>
<% shelt_mean = shelt.inject(0.0) { |sum, el| sum + el } / shelt.size %>

<% expos = @test.exposed.split( /, */ ).map { |s| s.to_f } %>
<% expos_mean = expos.inject(0.0) { |sum, el| sum + el } / expos.size %>

<% diff = (expos_mean - shelt_mean) %>

<tr><td style="background:lightgrey;max-width:300px;word-wrap: break-word;"><%= shelt %></td><td style="min-width:100px;text-align:center;"><%= shelt_mean.round(3) %></td><td style="background:lightgrey;max-width:300px;word-wrap: break-word;"><%= expos %></td><td style="min-width:100px;text-align:center;"><%= expos_mean.round(3) %></td><td style="background:black;color:white;text-align:center;">
  <% if params[:tail] == "1-tailed" %>
    <%= diff.round(3) %>
  <% else %>
    <%= diff.abs.round(3) %>
  <% end %>
</td></tr>

</table>

<% samps = 10000 %>
<% store = [] %>
<% store_mn = [] %>

<hr>
<h3>First 10 random draws</h3>

<table>
<% if params[:tail] == "1-tailed" %>
  <tr><th>Sample 1</th><th>Mean 1</th><th>Sample 2</th><th>Mean 2</th><th>(Mean 2 - Mean 1)</th><th>Greater than original difference?</th></tr>
<% else %>
  <tr><th>Sample 1</th><th>Mean 1</th><th>Sample 2</th><th>Mean 2</th><th>Absolute (Mean 2 - Mean 1)</th><th>Greater than original difference?</th></tr>
<% end %>

<% (1..samps).each do |i| %>
  <% mc = (shelt + expos).sample((shelt + expos).length) %>
  
  <% s1 = mc[0..(shelt.length - 1)] %>
  <% s2 = mc[shelt.length..(mc.length - 1)] %>

  <% mean_s1 = (s1.inject(0.0) { |sum, el| sum + el } / s1.size) %>
  <% mean_s2 = (s2.inject(0.0) { |sum, el| sum + el } / s2.size) %>

  <% store << mean_s1 - mean_s2 %>

  <% a = shelt.size.times.map{ rand(shelt.length) }.map{|i| shelt[i]}.inject{|sum,x| sum + x } / shelt.size %>
  <% b = expos.size.times.map{ rand(expos.length) }.map{|i| expos[i]}.inject{|sum,x| sum + x } / expos.size %>

  <% store_mn << b - a %>


  <% if i <= 10 %>
    <tr><td style="background:lightgrey;max-width:300px;word-wrap: break-word;"><%= s1 %></td><td style="min-width:100px;text-align:center;"><%= mean_s1.round(3) %></td><td style="background:lightgrey;max-width:300px;word-wrap: break-word;"><%= s2 %></td><td style="min-width:100px;text-align:center;"><%= mean_s2.round(3) %></td><td style="background:black;color:white;text-align:center;">
    <% if params[:tail] == "1-tailed" %>
      <%= (mean_s2 - mean_s1).round(3) %>
      </td><td style="text-align:center;">
      <%= (mean_s2 - mean_s1) >= diff %>
    <% else %>
      <%= (mean_s2 - mean_s1).abs.round(3) %>
      </td><td style="text-align:center;">
      <%= (mean_s2 - mean_s1).abs >= diff.abs %>
    <% end %>
    </td></tr>
  <% end %>
  
<% end %>
</table>

<% if params[:tail] == "1-tailed" %>
  <% store_abs = store.map { |s| s } %>
  <% diff_abs = diff %>
<% else %>
  <% store_abs = store.map { |s| s.abs } %>
  <% diff_abs = diff.abs %>
<% end %>

<% if params[:tail] == "1-tailed" %>
  <p>No of random resamples where absolute difference between means is greater than observed absolute difference between means = <%= store_abs[0..9].map { |s| s >= diff_abs}.count(true) %></p>
  <p>Total no of random resamples = 10</p>
  <p><strong>p(10 draws) =</strong> <%= ((store_abs[0..9].map { |s| s >= diff_abs}).count(true) / 10.to_f).round(4) %></p>
<% else %>
  <p><strong>No of random resamples where (Mean 2 - Mean 1) is greater than observed (Mean 2 - Mean 1) =</strong> <%= store_abs[0..9].map { |s| s >= diff_abs}.count(true) %></p>
  <p><strong>Total no of random resamples =</strong> 10</p>
  <p><strong>p(10 draws) =</strong> <%= ((store_abs[0..9].map { |s| s >= diff_abs}).count(true) / 10.to_f).round(4) %></p>
<% end %>

<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable(<%= raw store_mn[0..9].map {|r| [r.round(4).to_s, r] }.unshift(["asd", "asd"]).to_json %>);

    var options = {
      title: 'Bootstrapped mean difference',
      legend: { position: 'none' },
      vAxis: { title: 'Frequency' },
      hAxis: { title: 'Mean bootstrapped Sample 2 - mean of bootstrapped Sample 1' },
      colors: ['black'],
    };

    var chart = new google.visualization.Histogram(document.getElementById('chart_div1'));
    chart.draw(data, options);
  }
</script>

<div id="chart_div1" style="width: 400px; height: 200px;"></div>
<p><strong>Median difference:</strong> <%= store_mn[0..9].sort[0.5 * 10].round(4) %></p>
<p><strong>Lower 2.5%:</strong> <%= store_mn[0..9].sort[0.025 * 10].round(4) %></p>
<p><strong>Upper 2.5%:</strong> <%= store_mn[0..9].sort[0.975 * 10].round(4) %></p>


<hr>
<h3>First 100 random draws</h3>

<% if params[:tail] == "1-tailed" %>
  <p>No of random resamples where absolute difference between means is greater than observed absolute difference between means = <%= store_abs[0..99].map { |s| s >= diff_abs}.count(true) %></p>
  <p>Total no of random resamples = 100</p>
  <p><strong>p(10 draws) =</strong> <%= ((store_abs[0..99].map { |s| s >= diff_abs}).count(true) / 100.to_f).round(4) %></p>
<% else %>
  <p><strong>No of random resamples where (Mean 2 - Mean 1) is greater than observed (Mean 2 - Mean 1) =</strong> <%= store_abs[0..99].map { |s| s >= diff_abs}.count(true) %></p>
  <p><strong>Total no of random resamples =</strong> 100</p>
  <p><strong>p(10 draws) =</strong> <%= ((store_abs[0..99].map { |s| s >= diff_abs}).count(true) / 100.to_f).round(4) %></p>
<% end %>

<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable(<%= raw store_mn[0..99].map {|r| [r.round(4).to_s, r] }.unshift(["asd", "asd"]).to_json %>);

    var options = {
      title: 'Bootstrapped mean difference',
      legend: { position: 'none' },
      vAxis: { title: 'Frequency' },
      hAxis: { title: 'Mean bootstrapped Sample 2 - mean of bootstrapped Sample 1' },
      colors: ['black'],
    };

    var chart = new google.visualization.Histogram(document.getElementById('chart_div2'));
    chart.draw(data, options);
  }
</script>

<div id="chart_div2" style="width: 400px; height: 200px;"></div>
<p><strong>Median difference:</strong> <%= store_mn[0..99].sort[0.5 * 100].round(4) %></p>
<p><strong>Lower 2.5%:</strong> <%= store_mn[0..99].sort[0.025 * 100].round(4) %></p>
<p><strong>Upper 2.5%:</strong> <%= store_mn[0..99].sort[0.975 * 100].round(4) %></p>

<hr>
<h3>First 1000 random draws</h3>

<% if params[:tail] == "1-tailed" %>
  <p>No of random resamples where absolute difference between means is greater than observed absolute difference between means = <%= store_abs[0..999].map { |s| s >= diff_abs}.count(true) %></p>
  <p>Total no of random resamples = 1000</p>
  <p><strong>p(10 draws) =</strong> <%= ((store_abs[0..999].map { |s| s >= diff_abs}).count(true) / 1000.to_f).round(4) %></p>
<% else %>
  <p><strong>No of random resamples where (Mean 2 - Mean 1) is greater than observed (Mean 2 - Mean 1) =</strong> <%= store_abs[0..999].map { |s| s >= diff_abs}.count(true) %></p>
  <p><strong>Total no of random resamples =</strong> 1000</p>
  <p><strong>p(10 draws) =</strong> <%= ((store_abs[0..999].map { |s| s >= diff_abs}).count(true) / 1000.to_f).round(4) %></p>
<% end %>

<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable(<%= raw store_mn[0..999].map {|r| [r.round(4).to_s, r] }.unshift(["asd", "asd"]).to_json %>);

    var options = {
      title: 'Bootstrapped mean difference',
      legend: { position: 'none' },
      vAxis: { title: 'Frequency' },
      hAxis: { title: 'Mean bootstrapped Sample 2 - mean of bootstrapped Sample 1' },
      colors: ['black'],
    };

    var chart = new google.visualization.Histogram(document.getElementById('chart_div3'));
    chart.draw(data, options);
  }
</script>

<div id="chart_div3" style="width: 400px; height: 200px;"></div>
<p><strong>Median difference:</strong> <%= store_mn[0..999].sort[0.5 * 1000].round(4) %></p>
<p><strong>Lower 2.5%:</strong> <%= store_mn[0..999].sort[0.025 * 1000].round(4) %></p>
<p><strong>Upper 2.5%:</strong> <%= store_mn[0..999].sort[0.975 * 1000].round(4) %></p>


<hr>
<h3>First 10000 random draws</h3>

<% if params[:tail] == "1-tailed" %>
  <p>No of random resamples where absolute difference between means is greater than observed absolute difference between means = <%= store_abs[0..9999].map { |s| s >= diff_abs}.count(true) %></p>
  <p>Total no of random resamples = 10000</p>
  <p><strong>p(10 draws) =</strong> <%= ((store_abs[0..9999].map { |s| s >= diff_abs}).count(true) / 10000.to_f).round(4) %></p>
<% else %>
  <p><strong>No of random resamples where (Mean 2 - Mean 1) is greater than observed (Mean 2 - Mean 1) =</strong> <%= store_abs[0..9999].map { |s| s >= diff_abs}.count(true) %></p>
  <p><strong>Total no of random resamples =</strong> 10000</p>
  <p><strong>p(10 draws) =</strong> <%= ((store_abs[0..9999].map { |s| s >= diff_abs}).count(true) / 10000.to_f).round(4) %></p>
<% end %>

<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable(<%= raw store_mn[0..9999].map {|r| [r.round(4).to_s, r] }.unshift(["asd", "asd"]).to_json %>);

    var options = {
      title: 'Bootstrapped mean difference',
      legend: { position: 'none' },
      vAxis: { title: 'Frequency' },
      hAxis: { title: 'Mean bootstrapped Sample 2 - mean of bootstrapped Sample 1' },
      colors: ['black'],
    };

    var chart = new google.visualization.Histogram(document.getElementById('chart_div4'));
    chart.draw(data, options);
  }
</script>

<div id="chart_div4" style="width: 400px; height: 200px;"></div>
<p><strong>Median difference:</strong> <%= store_mn[0..9999].sort[0.5 * 10000].round(4) %></p>
<p><strong>Lower 2.5%:</strong> <%= store_mn[0..9999].sort[0.025 * 10000].round(4) %></p>
<p><strong>Upper 2.5%:</strong> <%= store_mn[0..9999].sort[0.975 * 10000].round(4) %></p>








